@using Models.Entities
@model Contents

<a href="/">
    <div class="card mb-2">
        <div class="row no-gutters">
            <div class="col-md-12">
                <img src="@Model.ImageUrl" alt="NewsSite Component" class="card-img">
            </div>
        </div>
    </div>
</a>